#root {
  margin: 0;
  padding:0;
  text-align: center;
  width: 100%;
  background-color:var(--backOne);
  color:white
}

header nav ul {
list-style-type: none;
display: flex;
justify-content: space-around
}